@page "/Booking"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using SheltersApp.Shared.Model;
@using Syncfusion.Blazor.Calendars;


<h3>Opret Booking</h3>

<EditForm Model="newBooking" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="shelters" class="bold-label">Choose Shelter:</label>
        <select @bind="SelectedShelterName" @bind:event="onchange" class="form-control">
            @foreach (var shelter in shelters)
            {
                <option value="@shelter.Navn">@shelter.Navn</option>
            }
        </select>
    </div>
    <!-- Vis lang_beskr for det valgte shelter her -->
    <div class="form-group">
        <label for="shelterDescription" class="bold-label">Beskrivelse:</label>
        <p id="shelterDescription" class="form-control-plaintext">@selectedShelterDescription</p>
    </div>
    <!-- Vis Booking ID her -->
    <div class="form-group">
        <label for="bookingID" class="bold-label">Booking ID:</label>
        <p id="bookingID" class="form-control-plaintext">@newBooking.BookingID</p>
    </div>
    <div class="form-group">
        <label for="name" class="bold-label">Navn:</label>
        <InputText id="name" class="form-control" @bind-Value="newBooking.Name" />
    </div>
    <div class="form-group">
        <label for="telefonnr" class="bold-label">Telefonnr:</label>
        <InputText id="telefonnr" class="form-control" @bind-Value="newBooking.Telefonnr" />
    </div>

    <button type="submit" class="btn btn-primary">Opret Booking</button>
</EditForm>

@code {
    private List<Shelter> shelters = new List<Shelter>();
    Booking newBooking = new Booking(bookingID: "", name: "", telefonnr: "", shelterName: "");
    private string selectedShelterDescription;

    // Property til at binde det valgte shelter navn og opdatere beskrivelsen
    private string SelectedShelterName
    {
        get => newBooking.ShelterName;
        set
        {
            if (newBooking.ShelterName != value)
            {
                newBooking.ShelterName = value;
                OnShelterSelected(value);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        shelters = await Http.GetFromJsonAsync<List<Shelter>>("api/shelterSIU");

        // Sørger for, at vise beskrivelse for det først viste shelter, når programmet åbnes
        if (shelters.Any())
        {
            var firstShelter = shelters.First();
            SelectedShelterName = firstShelter.Navn; // Dette vil også sætte selectedShelterDescription
        }
        GenerateRandomBookingId(); // Sæt et nyt random BookingID før hver indsendelse
    }
    // Generer et random tal mellem
    private void GenerateRandomBookingId()
    {
        Random rnd = new Random();
        newBooking.BookingID = rnd.Next(1000, 10000).ToString(); // Genererer et tal mellem 1000 og 9999
    }


    // Metode for, når man trykker på shelter i dropdown at det vises i beskrivelses cellen
    private void OnShelterSelected(string shelterName)
    {
        GenerateRandomBookingId(); // Sæt et nyt random BookingID før hver indsendelse
        var selectedShelter = shelters.FirstOrDefault(s => s.Navn == shelterName);
        selectedShelterDescription = selectedShelter.Lang_beskr;
    }

    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("api/bookings", newBooking);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/BookingList");
        }
        else
        {
            // Håndter fejl, f.eks. ved at vise en fejlmeddelelse til brugeren
        }
    }
}


